body{font-size:14px;background:#fff;margin:0; padding:0; outline:0;}

.header{}
.nav {
	font-family: 'Arvo', serif;
	background: #000;
	max-width: 100%;
	height: 37px;
	margin-left: 680px;
	margin-top: 15px;
}
.nav ul {
	margin:0;
	padding:0;
	list-style:none;
}
.nav ul li {
	float: left;
	text-align: left;
}
.nav ul li a {
	text-decoration: none;
	color: #8D8D8D;
	font-size: 15px;
	padding: 16px 20px;
}
.nav ul li a:hover, #active {
	color:#fff;
}
.title{}
.title h1 {
	font-family: 'Bangers', cursive;
	color: #fff;
	font-size: 100px;
	text-align: center;
	margin-top: 300px;
}
.title p {
	font-size: 16px;
	color: #F68B1F;
	text-align: center;
	margin-top: -65px;
	margin-left: 625px;
}
.title img {
	display: block;
	margin: 0 auto;
	width: 24.5%;
}
.navai {
	font-family: 'Arvo', serif;
	background: #000;
	max-width: 100%;
	height: 37px;
	padding-left: 680px;
	padding-top: 15px;
}
.navai ul {
	margin:0;
	padding:0;
	list-style:none;
}
.navai ul li {
	float: left;
	text-align: left;
}
.navai ul li a {
	text-decoration: none;
	color: #8D8D8D;
	font-size: 15px;
	padding: 16px 20px;
}
.navai ul li a:hover, #active {
	color:#fff;
}
.content {
	width: 1000px;
	display: block;
	margin: 0 auto;
}
.contentup{}
.contentup h1 {
	border-left: 5px solid #F68B1F;
	padding-left: 10px;
	font-family: 'Arvo', serif;
	font-weight: lighter;
	font-size: 26px;
	margin-top: 45px;
}
.table {
	width: 55%;
	font-size: 16px;
}
.link {
	text-decoration: none;
	color: #000;
}
.contentdown{}
.contentdown h1 {
	border-left: 5px solid #F68B1F;
	padding-left: 10px;
	font-family: 'Arvo', serif;
	font-weight: lighter;
	font-size: 26px;
	margin-top: 30px;
}
.contentdown p {
	font-size: 16px;
	line-height: 18px;
}
.slidersection {
	box-shadow: 4px 5px #C7CBC7;
}
.content{}
.content h1{
	border-left: 5px solid #F68B1F;
	padding-left: 10px;
	font-family: 'Arvo', serif;
	font-weight: lighter;
	font-size: 26px;
	margin-top: 45px;
	margin-bottom: 30px;
}
.content p{
	font-size: 16px;
	line-height: 18px;
	margin-top: 30px;
}
.content h2 {
	padding-left: 10px;
	font-family: 'Arvo', serif;
	font-weight: lighter;
	font-size: 20pc;
	margin-top: 45px;
	margin-bottom: 30px;
	text-align: center;
}
.content p1{}